@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
  --width: 100%;
  --height: 100%;
  --border-width: 200px;
  --border-height: 200px;

}
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 70%;
  overflow-x: hidden;
  scroll-padding: 9rem;
  scroll-behavior: smooth;
  max-width: 1650px;
  margin: 0 auto;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: #ccc;
}
html::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5rem;
}

/* header section starts */

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-bar .navbar-links {
  margin-top: 3rem;
}

.nav-bar .navbar-links a {
  text-align: center;
  font-size: 2.5rem;
  cursor: pointer;
  font-weight: bolder;
  text-decoration: none;
  padding: 0 1rem;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-transform: uppercase;
  color: #fff;
}

.nav-bar .navbar-links a:hover {
  background: #fff;
  border: solid 1px #383f1d;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.1rem;
  color: #383f1d;
  opacity: 85%;
}
.header .nav-bar .navbar-icons {
  padding-top: 3rem;
  font-size: 2.5rem;
}

.header .nav-bar .navbar-icons a {
  padding: 2rem 2rem;
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: -2rem;
}

.header .nav-bar .navbar-icons a:hover {
  background: #fff;
  color: #383f1d;
  padding: 1rem;
  font-size: 5rem;
  border: solid 1px #383f1d;
  transition: 0.3s ease-in-out;
  border-radius: 10% 10%;
  opacity: 85%;
}

.banner-area {
  width: 100%;
  height: 100vh;
  background: url(../images/bannerbg.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-area h2 {
  margin-top: 20rem;
  font-size: 15em;
  color: #fff;
}

.banner-area h2:hover {
  background: #fff;
  opacity: 75%;
  color: #383f1d;
  letter-spacing: 0.12rem;
}

.banner-area p {
  font-size: 4em;
  color: white;
  margin-top: 7rem;
}

.banner-area p:hover {
  background: #fff;
  opacity: 75%;
  color: #383f1d;
  letter-spacing: 0.05rem;
}

.banner-area .btn {
  margin-top: 10rem;
  padding: 1rem 1rem;
}

.banner-area a {
  font-size: 3rem;
  color: #383f1d;
  background: #fff;
  opacity: 80%;
  border: solid 2px #383f1d;
}

.banner-area a:hover {
  background: #fff;
  opacity: 100%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
}

/* apply styles after scroll starts*/
.scrolling-active .navbar-links {
  margin-top: 1rem;
}
.scrolling-active {
  background-color: #383f1d;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

/* apply styles after scroll ends */
/* header section ends */
/* about section start */
.about {
  display: flex;
  padding: 5rem 4rem;
  justify-content: center;
  align-items: center;
}

.about .content {
  padding-right: 6rem;
}

.about .content h3 {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #383f1d;
}
.about .content h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  color: #383f1d;
}

.about .content p {
  font-size: 1.3rem;
  line-height: 1.8;
  text-align: start;
  color: rgb(87, 86, 86);
}
.about .about-img img {
  height: 800px;
}

.about .content .btn {
  position: relative;
  font-size: 3rem;
  background-color: #383f1d;
  color: #fff;
  padding: 1rem;
  top: 5rem;
}
.about .content .btn:hover {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
/* about section ends */
/* gallery section starts */
 .gallery {
   padding-top: 7rem;
   padding-bottom: 4rem;
 }

 .gallery h2{
   font-size: 5rem;
   text-transform: uppercase;
   text-align: center;
   padding-bottom: 2rem;
 }
 .gallery p {
   font-size: 1.5rem;
   text-align: center;
 }
   /* travel section starts */
   
   .travel-main {
     padding-top: 15rem;
     margin-top: 5rem;
   }

   .travel-main h2 {
     font-size: 5rem;
     text-align: center;
     text-transform: uppercase;
     color: #383f1d;
   }

   .travel-main p {
     font-size: 1.5rem;
     text-align: center;
     padding-bottom: 5rem;
     color: rgb(87, 86, 86);
   }
  .travel1 {
    text-align: center;
  }
  .travel1 img{
   width: 90%;
  }

  .travel1 h3 {
    font-size: 2.2rem;
    padding-top: 3rem;
    color: #383f1d; 
  }

  .travel1 p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: rgb(87, 86, 86);
  }

  .travel2 {
    text-align: center;
  }

  .travel2 h3 {
    font-size: 2.2rem;
    padding-top: 3rem;
    color: #383f1d;
  }

  .travel2 p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: rgb(87, 86, 86);
  }
  
  .travel2 img{
    width: 90%;
  }
  .fist-col .btn {
  position: relative;
  font-size: 2rem;
  background-color: #383f1d;
  color: #fff;
  padding: 1rem;
  bottom: 5rem;
}

.fist-col .btn:hover {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #fff;
}

.seconed-col .btn {
  position: relative;
  font-size: 2rem;
  background-color: #383f1d;
  color: #fff;
  padding: 1rem;
  bottom: 5rem;
}

.seconed-col .btn:hover {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #fff;
}

.travel-sub {
  padding: 8rem 3rem;
}

.travel-sub .travel3-img img {
  height: 70%;
  width: 90%;
  padding-left: 10rem;
}

.travel-sub .travel3-text h5 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.travel-sub .travel3-text h3 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.travel-sub .travel3-text p {
  text-align: left;
}

   /* travel section ends */
   /* book section starts */
   .book {
     background-color: #f4f4f4;
     padding: 5rem 2rem 3rem 2rem;
   }
   .book h2{
     font-size: 3rem;
     text-align: center;
   }
   .book p{
     font-size: 1.5rem;
     text-align: center;
   }

   .book-inner {
     display: flex;
     justify-content:center;
     align-items: center;
     padding-top: 3rem;
   }

   .book .book-input1 input{
     padding: 1.5rem 3rem;
     font-size: 1.52rem;
     background: transparent;
     border: solid 2px darkgray;
   }

   .book .book-input2 input{
     padding: 1.5rem 3rem;
       margin-left: 5rem;
     font-size: 1.52rem;
     background: transparent;
     border: solid 2px darkgray;
   }

   .book .book-input3 button {
     font-size: 2rem;
     padding: 1.14rem 3rem 1.5rem 3rem;
     text-transform: uppercase;
     margin-left: 5rem;
     background: #383f1d;
     color: #fff;
   }

   .book .book-input3 button:hover {
     letter-spacing: 0.5rem;
   }
   /* book section ends */
/* gallery section ends */
/* media queries */



@media (max-width: 1250px) {
  .header .nav-bar .navbar-links a {
    font-size: 1.9rem;
  }

  .header .nav-bar .navbar-icons a {
    font-size: 1.8rem;
  }

  .header .nav-bar .navbar-icons a:hover {
    font-size: 3.2rem;
  }

  .about {
    padding: 3rem 4rem;
    margin-left: 4rem;
    flex-wrap: wrap;
    text-align: center;
  }

  .banner-area h2 {
    font-size: 11em;
  }

  .about .content h3 {
    font-size: 3rem;
}

.about .content h2 {
  font-size: 2rem;
}

.about .content p {
  font-size: 1.1rem;
}

.about .content .btn {
  font-size: 2rem;
}
.about .about-img {
  padding-top: 10rem;
  margin-left: -3rem;
}

.travel-sub .travel3-text h3 {
  font-size: 2rem;
}

.travel3-text p {
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .travel1 img{
   width: auto;
  }
  
  .travel2 img{
    width: auto;
  }

}

@media (max-width: 880px) {
  .header .nav-bar .navbar-links a {
    font-size: 3vw;
  }

  .header .nav-bar .navbar-icons a {
    font-size: 3vw;
  }

  .header .nav-bar .navbar-icons a:hover {
    padding: 1rem;
    font-size: 4vw;
  }

  .banner-area h2 {
    font-size: 12vw;
  }

  .banner-area p {
    font-size: 5vw;
  }

  .banner-area a {
    font-size: 4vw;
  }

  .gallery h2 {
    font-size: 3rem;
  }

  .gallery p {
    font-size: 1.2rem;
  }

  .travel-main h2 {
    font-size: 3rem;
  }

  .travel-main p{
    font-size: 1.3rem;
  }

  .travel1 h3{
    font-size: 1.8rem;
  }

  .travel1 p {
    font-size: 1.1rem;
  }

  .travel1 img {
    width: 70%;
  }

  .travel2 h3{
    font-size: 1.8rem;
  }

  .travel2 p {
    font-size: 1.1rem;
  } 

  .travel2 img {
    width: 70%;
  }

  .fist-col .btn {
    font-size: 1.5rem;
  }

  .seconed-col .btn {
    font-size: 1.5rem;
  }

  .book h2{
     font-size: 2.6rem;
     text-align: center;
   }
   .book p{
     font-size: 1.2rem;
     text-align: center;
   }

   .book-inner {
     flex-direction: column;
   }

   .book .book-input1 {
     padding-bottom: 3rem;
   }

   .book .book-input2 {
     padding-bottom: 3rem;
   }

   .book .book-input2 input{
     margin: 0;
   }

   .book .book-input3 button {
     margin-left: 1rem;
}

@media (max-width: 660px) {

  .nav-bar .navbar-links a:hover {
  background: #fff;
  border: solid 1px #383f1d;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.1rem;
  color: #383f1d;
  opacity: 85%;
}

  .header .nav-bar .navbar-icons {
    margin-top: -1rem;
  }
  .header .banner-area h2{
    font-size: 13vw;
  }
  .about {
    padding: 3rem 4rem;
    margin-left: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .banner-area h2 {
    font-size: 11em;
  }

  .about .content h3 {
    font-size: 3rem;
}

.about .content h2 {
  font-size: 1.7rem;
}

.about .content p {
  font-size: 1.2rem;
  text-align: center;
}

.about .content .btn {
  font-size: 2rem;
}
.about .about-img img{
  width: 400px;
  height: 600px;
}
.about .content p {
  font-size: .8rem;
}
.gallery h2 {
    font-size: 2rem;
  }

  .gallery p {
    font-size: 1rem;
  }

   .travel-main h2 {
    font-size: 2rem;
  }

  .travel-main p{
    font-size: 1rem;
  }

  .travel1 h3{
    font-size: 1.3rem;
  }

  .travel1 p {
    font-size: 1rem;
  }

  .travel2 h3{
    font-size: 1.3rem;
  }

  .travel2 p {
    font-size: 1rem;
  }

  .fist-col .btn {
    font-size: 1.1rem;
  }

  .seconed-col .btn {
    font-size: 1.1rem;
  }

  .travel-sub .travel3-img img {
    width: 90vw;
    padding-left: 0;
  }

}

@media (max-width:400px) {
  .about .about-img img {
    width: 300px;
    height: 400px;
  }

  .about .content .btn {
    font-size: 1rem;
  }
}